<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"  ></script>
<style>
form{
    text-align: center;
}
h2{
    text-align: center;
}

</style>
</head>
<body>
<h2>Login Page</h2>
 <form>
  Email:<input type="email" id="email"></input></br></br>
  Password:<input type="password" id="password"></input></br></br>
<button type="submit" id="submit">Login</button></br></br>
<a href="./UserSignupPage.html">New users sign up here</a>
</form>

<script>
 const submitButton=document.getElementById('submit');
 submitButton.addEventListener('click',submitdata)
 function submitdata(e)
 {
     const obj={
      Email:document.getElementById('email').value,
      Password:document.getElementById('password').value,
         
     }
     e.preventDefault()
     axios.post("http://localhost:3000/user/login",obj).then((result)=>{
        console.log(result);
        alert(result.data.message)

     }).catch((err)=>{
     console.log(err)
    const h4=document.createElement('h4')
    h4.style.color="red"
    h4.append(err.response.data.message)
    
    document.body.appendChild(h4)
    setTimeout(()=>{
       document.body.removeChild(h4) 
    },5000)
}
 )
 }

 </script>
</body>
</html>