<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUP Page</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"  ></script>


<style>
h1{
    text-align:center;
}
form{
    text-align: center;

}
</style>
</head>
<body>
<div><h1>SignUP</h1></div>
<br>
<br>
<form>
Name:<input type="text" id="name" ></input><br><br>
Email:<input type="email" id="email"></input><br><br>
Phone Number:<input type="number" id="number"></input><br><br>
Password:<input type="password" id="password"></input><br><br>
<button type="submit"  id="submit">SignUP</button></input><br><br>

</form> 
<script>
    const submit=document.getElementById('submit');
submit.onclick=((e)=>{
    e.preventDefault()

    const obj={
 Name:document.getElementById('name').value,
 Email:document.getElementById('email').value,
 PhoneNumber:document.getElementById('number').value,
 Password:document.getElementById('password').value

}
axios.post("http://localhost:3000/user/SignUp",obj)
.then((result)=>{
    alert(result.data.message)
}).catch((error)=>{
    console.log(error)
    if(error.response.status==405)
    {
        alert(error.response.data.message)
    }
    else{
    const h4=document.createElement('h4')
    h4.style.color="red"
    h4.append(error.response.data.message)
    document.body.appendChild(h4)
    setTimeout(()=>{
       document.body.removeChild(h4) 
    },5000)
}
})
})
</script>
</body>
</html>